body {
    background-color: #355664;
}

header,
main {
    margin: 0 90px;
}

header h1 {
    font-family: "Pacifico", cursive;
    text-align: center;
    color: #fff;
    font-size: 50px;
}

header h3 {
    display: flex;
    justify-content: end;
    font-family: "Pacifico", cursive;
    color: #fff;
}
hr {
    width: calc(100% - 180px);
    height: 3px;
    background-color: #000;
    border-radius: 1px;
    border: none;
}
ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-right: 30px;
}

a {
    color: #fff;
    font-size: 20px;
}

li:first-child a {
    color: rgb(127, 229, 255);
}

li:nth-child(2) a {
    color: #00cc99;
}

article {
    border-radius: 10px;
    background-color: #213e4a;
    padding: 4px 0 0 30px;
}

article h2 {
    position: relative;
    text-align: center;
    color: #fff;
    letter-spacing: 20px;
    font-size: 30px;
    font-family: "Pacifico", cursive;
    font-style: oblique;
}

.article-content {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.article-content::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: #eeeeee5f;
    top: -2px;
    left: 4px;
}

figure img {
    border-radius: 10px;
    object-fit: cover;
}

p {
    color: #fff;
}

.infor p:first-child {
    color: #00cc99;
}

footer {
    text-align: center;
    color: #fff;
    margin: 10px 0;
}
